<div class="container">
    <div class="row-fluid">
      <h3> Pet Types</h3>
      <div class="custom_panel margin-bottom-10">
        <% if !notice.blank? %>
        <div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">×</button><strong><%= notice %></strong></div>
        <% end %>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Published</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @pet_types.each do |pet_type| %>
              <tr>
                <td><%= pet_type.name %></td>
                <td>
                    <% if pet_type.published %>
                      <i class="icon-ok"></i>
                    <% end %>
                </td>
                <td>
                  <a href="<%= url_for pet_type_path(pet_type) %>" class="btn btn-default btn-small">
                    <i class="icon-zoom-in"></i>Show
                  </a>
                  <% if can? :edit, :pet_type %>
                  <a href="<%= url_for edit_pet_type_path(pet_type) %>" class="btn btn-default btn-small">
                    <i class="icon-pencil"></i>Edit
                  </a>
                  <% end %>
                  <% if can? :destroy, :pet_type %>
                  <%= link_to pet_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-small" do %><i class="icon-remove"></i>Destroy
                  <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
        </table>
      </div>
      <% if can? :new, :pet_type %>
      <a href="<%= url_for new_pet_type_path %>" class="btn btn-default btn-small">
        <i class="icon-plus"></i>New User
      </a>
      <% end %>
</div>