<div class="container">
    <div class="row-fluid">
      <p id="notice"><%= notice %></p>
      <div class="custom_panel margin-bottom-10">
        <h3> Pet Types</h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Published</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @pet_types.each do |pet_type| %>
              <tr>
                <td><%= pet_type.name %></td>
                <td><%= pet_type.published %></td>
                <td>
                  <span class="btn btn-mini btn-primary">
                    <i class="icon-edit"><%= link_to 'Edit', edit_pet_type_path(pet_type) %></i>
                  </span>
                  <span class="btn btn-mini btn-primary">
                    <i class="icon-remove"><%= link_to 'Destroy', pet_type, method: :delete, data: { confirm: 'Are you sure?' } %></i>
                  </span>
                </td>
              </tr>
            <% end %>
            </tbody>
        </table>
      </div>
    <%= link_to 'New Pet Type', new_pet_type_path, :class => "btn-u btn-u-small" %>
  </div>
</div>