<div class="container">
    <div class="row-fluid">
    	<h3><%= @pet_type.name  %></h3>
    	<p id="notice"><%= notice %></p>
    	<div class='dl-horizontal reg-page margin-bottom-10'>
		    <label>Published:&nbsp;
			    <% if @pet_type.published %>
	              <i class="icon-ok"></i>
	            <% end %>
        	</label>
		    <label>Created:&nbsp;<%= @pet_type.created_at %></label>
		    <label>Last update:&nbsp;<%= @pet_type.updated_at %></label>
		</div>
		<h3>Breeds</h3>
		<div class="custom_panel margin-bottom-10">
			<% if @pet_breeds.count > 0 %>
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Name</th>
			        <th>Published</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody>
			    <% @pet_breeds.each do |pet_breed| %>
			      <tr>
			        <td><%= pet_breed.name %></td>
			        <td>
			            <% if pet_breed.published %>
			              <i class="icon-ok"></i>
			            <% end %>
			        </td>
			        <td>
			          <a href="<%= url_for pet_breed_path(pet_breed) %>" class="btn btn-default btn-small">
			            <i class="icon-pencil"></i>Show
			          </a>
			          <% if can? :edit, :pet_breed %>
			          	<a href="<%= url_for edit_pet_breed_path(pet_breed) %>" class="btn btn-default btn-small">
			            <i class="icon-pencil"></i>Edit
			          	</a>
			          <% end %>
			          <% if can? :destroy, :pet_breed %>
			          	<%= link_to pet_breed, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-small" do %><i class="icon-remove"></i>Destroy
			          		<% end %>
		          		<% end %>
			        </td>
			      </tr>
			    <% end %>
			    </tbody>
			</table>
			<%= will_paginate @pet_breeds, renderer: BootstrapPagination::Rails %>
			<%= label_tag :per_page, 'Items per page' %>
			<%= select_tag :per_page, options_for_select([5, 10, 20, 50], params[:per_page].to_i),
				:onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
			<% else %>
				<p class="text-info">There are no breeds for this pet type.</p>
			<%end %>
		</div>
		<% if can? :new, :pet_breed %>
		<%= link_to 'New breed', new_pet_type_pet_breed_path(@pet_type), :class => 'btn btn-default btn-small' %>
		<% end %>
    	<%= link_to 'Back', pet_types_path, :class => 'btn btn-default btn-small' %>
    </div>
</div>