<div class="container">
    <div class="row-fluid margin-bottom-10">
    <%= form_for @pet, html: {class: 'reg-page'} do |f| %>
      <% if @pet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
          <ul>
          <% @pet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <h3>Registration</h3>
        <h4 class="color-green">Pet</h4>
        <%= f.label :name, data: { required: 'true' } %>
        <%= f.text_field :name, class: 'span12' %>
        <%= f.label :pet_type_id, 'Pick up a type', data: { required: 'true' } %>
        <%= f.collection_select :pet_type_id, PetType.order(:name).select { | match | match.published }, :id, :name, { prompt: true }, { id: 'pet_type', class: 'span12' } %>
        </select>
        <%= f.label :pet_breed_id, 'Pick up a breed' %>
        <%= f.collection_select :pet_breed_id, PetBreed.order(:name).select { | match | match.pet_type_id == @pet.pet_type_id }, :id, :name, { prompt: true }, { id: 'pet_breed', class: 'span12' } %>
        <%= f.label :name, 'Brief description', data: { required: 'true' } %>
        <%= f.text_field :description, class: 'span12' %>
        <%= f.label :birth_date, 'Birth date', data: { required: 'true' } %>
        <%= f.date_field :birth_date, class: 'span12' %>
        <div class="radio">
            <label>
                <%= f.radio_button :gender, "male" %>
                Male
            </label>
        </div>
        <div class="radio">
            <label>
                <%= f.radio_button :gender, "female" %>
                Female
            </label>
        </div>
        <%= f.label :notes, 'Additional notes' %>
        <%= f.text_field :notes, { class: "span12", placeholder: "Contests, pedigree, trained..." } %>
        <%= f.submit value: "Register", class: 'btn-u pull-right' %>
        <div class="controls form-inline">
            <br/>
        </div>
        <hr />
        <p>Are you already registered? Click <a href="page_login.html" class="color-green">here</a> to login to your account.</p>
      <% end %>
    </div><!--/row-fluid-->
</div><!--/container-->