<div class="container">
    <div class="row-fluid margin-bottom-10">
    <%= form_for @pet, html: {class: 'reg-page'} do |f| %>
      <% if @pet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
          <ul>
          <% @pet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <h3>Regístrate</h3>
        <h4 class="color-green">Mascota</h4>
        <%= f.label :name %><label>
        <%= f.text_field :name, class: 'span12' %>
        <label>Clase de mascota <span class="color-red">*</span></label>
        <select class="span6">
            <option>Perro</option>
        </select>
        <label>Por favor, elige la raza <span class="color-red">*</span></label>
        <select class="span6">
            <option>--A--</option>
        </select>
        <label>Breve descripción de tu mascota <span class="color-red">*</span></label>
        <input type="text" class="span12" />

        <label>Fecha de nacimiento<span class="color-red">*</span></label>
        <input type="text" class="span12" />

        <label class="checkbox">
            <input type="checkbox" value="">
            Macho
        </label>

        <label class="checkbox">
            <input type="checkbox" value="">
            Hembra
        </label>

        <label>Datos adicionales </span></label>
        <input type="text" class="span12" placeholder="Concursos, pedigree, adiestrado..." />

        <p>
            Sube una imagen de perfil
            <br>
            <button class="btn btn-mini btn-primary" type="button">Buscar</button>
        </p>
        <div class="controls form-inline">
            <label class="checkbox"><input type="checkbox" />&nbsp; He leído los <a href="">Términos y Condiciones</a></label>
            <%= f.submit value: "Regístrate", class: 'btn-u pull-right' %>
        </div>
        <hr />
        <p>¿Ya estás registrado? Haz clic <a href="page_login.html" class="color-green">aquí</a> para ingresar a tu cuenta.</p>
      <% end %>
    </div><!--/row-fluid-->
</div><!--/container-->