<div class="container">
    <div class="row-fluid margin-bottom-10">
    <%= form_for @pet, html: {class: 'reg-page'} do |f| %>
      <% if @pet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
          <ul>
          <% @pet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <h3>Registration</h3>
        <h4 class="color-green">Pet</h4>
        <%= f.label :name, data: { required: 'true' } %>
        <%= f.text_field :name, class: 'span12' %>
        <%= f.label :pet_types, 'Pick up a type', data: { required: 'true' } %>
        <%= select_tag :pet_types, content_tag( :option, 'Select one...', :value => '') + options_from_collection_for_select(@pet_types, 'id', 'name'), class: "span6", data: { required: 'true' } %>
        </select>
        <%= f.label :pet_breeds, 'Pick up a breed' %>
        <%= select_tag :pet_breeds, options_for_select(['Select one...']), class: "span6" %>
        <%= f.label :name, 'Brief description', data: { required: 'true' } %>
        <%= f.text_field :description, class: "span12" %>
        <%= f.label :bith_date, 'Birth date', data: { required: 'true' } %>
        <input type="date" class="span12 datepicker"/>

        <label class="checkbox">
            <input type="checkbox" value="">
            Macho
        </label>

        <label class="checkbox">
            <input type="checkbox" value="">
            Hembra
        </label>
        <%= f.label :notes, 'Additional notes' %>
        <%= f.text_field :notes, class: "span12", placeholder: "Contests, pedigree, trained..." %>
        <p>
            Upload image
            <br/>
            <button class="btn btn-mini btn-primary" type="button">Buscar</button>
        </p>
        <%= f.submit value: "Register", class: 'btn-u pull-right' %>
        <div class="controls form-inline">
            <br/>
        </div>
        <hr />
        <p>Are you already registered? Click <a href="page_login.html" class="color-green">here</a> to login to your account.</p>
      <% end %>
    </div><!--/row-fluid-->
</div><!--/container-->