<div class="margin-bottom-30"></div>
<div class="container">
	<div class="row-fluid">
		<!-- Transform Thumbnail -->
		<div class="headline"><h3>Match results</h3></div>
		<% if !@matches.empty? %>
		<ul class="thumbnails">
			<% @matches.each do |match| %>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <%= attachment_image_tag match, :profile_image, :fill, 156, 98.5 %></div>
                        <a class="btn-more hover-effect" href="<%= pet_path(match) %>"><%= match.name %> +</a>					
                    </div>
                    <h3><%= link_to match.pet_breed.name, pet_path(match) %></h3>
                    <p><%= match.description %></p>
                    <p><%= time_ago_in_words(match.birth_date) %></p>
                </div>
            </li>
            <% end %>
        </ul>
        <% else %>
        <p>No records were found.</p>
        <% end %>
        <!--/thumbnails-->
	</div>
</div>