<div class="container">
    <div class="row-fluid">
		<h3>User Management</h3>
		<div class="custom_panel margin-bottom-10">
			<%= form_for @user, html: { class: 'form-horizontal' } do | f | %>
				<div class="control-group">
					<%= f.label :email, { class: 'control-label' } %>
					<div class="controls">
						<%= f.text_field :email, { disabled: 'disabled'} %>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :name, { class: 'control-label' } %>
					<div class="controls">
						<a href="#" id="name" data-name="name"  data-resource="user" data-pk="<%= params[:id]%>" data-url="<%= user_path %>" data-type="text"><%= !@user.name.blank? ? @user.name : "None" %></a>
					</div>
				</div>
			<% end %>
		</div>
    </div>
</div>