<div class="container">
  <div class="row-fluid">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'log-page'}) do |f| %>
      <h3>Log in to your account</h3>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <%= f.email_field :email, { autofocus: true, class: "input-xlarge", placeholder: "someone@example.com" } %>
      </div>

      <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        <%= f.password_field :password, { autocomplete: "off", class: "input-xlarge", placeholder: "Password"} %>
      </div>

      <div class="controls form-inline">
      <% if devise_mapping.rememberable? -%>
          <%= f.label :remember_me do %>
          <%= f.check_box :remember_me, { class: "checkbox"} %>
          Remember me
        <% end %>
      <% end %>
        <%= f.submit "Log in", { class: "btn-u pull-right" } %>
      </div>
      <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <hr>
        <h4>Forgot your password?</h4>
        <p>We can help you reset it.
        <%= link_to "Click here", new_password_path(resource_name), { class: "color-green" } %>
        to get a new one.
      <% end %>
      <hr>
      <h4>Register new user <span style='font-weight:normal;font-size:.75em;'><%= devise_mapping.omniauthable? && resource_class.omniauth_providers.count > 0 ? "Or" : "" %></span></h4>
      <% if devise_mapping.omniauthable? %>
        <% resource_class.omniauth_providers.each do |provider| %>
          <a id='<%= "#{provider.to_s.titleize}" %>' href="<%= omniauth_authorize_path(resource_name, provider) %>" class="btn btn-default btn-small">
            <%= "Sign in with #{provider.to_s.titleize}" %>
          </a>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
