<div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
            <a href="/">
                <!--TransForm-->
                <img id="logo-header" src="/assets/img/logo1-default.png" alt="Logo">
            </a>
        </div><!-- /logo -->        
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li class="<%= 'active' unless params[:id] != 'about' || action_name != 'show' || controller_name != 'pages' %>"><a href="/pages/about">About<b class="caret<%= '-out' unless params[:id] == 'about' && action_name == 'show' && controller_name == 'pages' %>"></b></a></li>
                        <li class="<%= 'active' unless controller_name != 'pets' || action_name != 'match'%>"><a href="<%= match_pets_path %>">Find a match<b class="caret<%= '-out' unless controller_name == 'pets' && action_name == 'match'%>"></b></a></li>
                        <li class="<%= 'active' unless params[:id] != 'plans' || action_name != 'show' || controller_name != 'pages' %>"><a href="/pages/plans">Plans<b class="caret<%= '-out' unless params[:id] == 'plans' && action_name == 'show' && controller_name == 'pages' %>"></b></a></li>
                        <li class="<%= 'active' unless controller_name != 'blog' %>"><a href="/blog">Blog<b class="caret<%= '-out' unless controller_name == 'blog' %>"></b></a></li>
                        <li class="<%= 'active' unless params[:id] != 'contact' || action_name != 'show' || controller_name != 'pages' %>"><a href="/pages/contact">Contact<b class="caret<%= '-out' unless params[:id] == 'contact' && action_name == 'show' && controller_name == 'pages' %>"></b></a></li>
                    </ul>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->
