<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= !yield(:title).to_s.blank? ? yield(:title) : "PetMatch" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <!--=== Top ===-->
  <div class="top">
    <div class="container">
      <div class="top-widget pull-right">
        <%= render "layouts/loginbar" %>
      </div>
    </div>
  </div>
  <!--/top-->
  <!--=== End Top ===-->
  <div id="flash">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <button type="button" class="close" data-dismiss="alert">×</button><strong><%= value %></strong>
    </div>
  <% end %>
  </div>
	
  <%= yield %>
  <div class="row-fluid margin-bottom-30">
  </div>
  <!--=== Copyright ===-->
  <div class="copyright">
    <div class="container">
      <div class="row-fluid">
        <div class="span8">           
                <p>2015 © Pet Match. All rights reserved. <a href="pages/privacy">Privacy</a> | <a href="page/terms">Conditions of use</a></p>
        </div>
        <div class="span4"> 
        </div>
      </div><!--/row-fluid-->
    </div><!--/container--> 
  </div>
  <!--/copyright-->
  <!--=== End Copyright ===-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "respond-bundle" %>
   <![endif]-->
</body>
</html>
