<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= !yield(:title).to_s.blank? ? yield(:title) : "PetMatch" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <!--=== Top ===-->
  <%= render "layouts/loginbar" %>
  <!--=== End Top ===-->
  <!--=== Header ===-->
  <%= render "layouts/header" %>
  <!--=== End Header ===-->
  <!--=== Breadcrumbs ===-->
  <% breadcrumbs do |links| %>
    <% if links.any? %>
    <div class="breadcrumbs margin-bottom-30">
      <div class="container">
        <h1 class="color-green pull-left"><%= yield(:title) %></h1>
        <ul class="pull-right breadcrumb">
        <% links.each do |link| %>
          <li>
            <%= link_to link.text, link.url, class: (link.current? ? "active" : nil) %>
            <% if link != links.last %>
              <span class="divider">/</span>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <!--/container-->
    <% end %>
  <!--/breadcrumbs-->
  <% end %>
  <div id="flash">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <button type="button" class="close" data-dismiss="alert">×</button><strong><%= value %></strong>
    </div>
  <% end %>
  </div>
  <%= yield %>
  <div class="row-fluid margin-bottom-30">
  </div>
  <!--=== Copyright ===-->
  <div class="copyright">
    <div class="container">
      <div class="row-fluid">
        <div class="span8">           
                <p>2015 © Pet Match. All rights reserved. <a href="/pages/privacy">Privacy</a> | <a href="/pages/terms">Conditions of use</a></p>
        </div>
        <div class="span4"> 
        </div>
      </div><!--/row-fluid-->
    </div><!--/container--> 
  </div>
  <!--/copyright-->
  <!--=== End Copyright ===-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "respond-bundle" %>
   <![endif]-->
</body>
</html>
