<!DOCTYPE html>
<html lang="en">
<head>
  <title>PetMatch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <div class="top">
    <div class="container">
      <div class="top-widget pull-right">
        <ul class="loginbar">
            <li><a href="">Help</a></li>
            <% if user_signed_in?  %>
            <li class="devider">&nbsp;</li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "login-btn" %></li>
            <% elsif controller_name != 'sessions' %>
            <li class="devider">&nbsp;</li>
            <li><%= link_to "Sign up", new_user_registration_path, :class => "login-btn" %></li>
            <li class="devider">&nbsp;</li>
            <li><%= link_to 'Login', new_user_session_path, :class => "login-btn" %></li>
            <% end %>
        </ul>
    </div>
  </div>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <button type="button" class="close" data-dismiss="alert">×</button><strong><%= value %></strong></div>
    </div>
  <% end %>
	
<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "respond-bundle" %>
   <![endif]-->
</body>
</html>
